<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>HTNL fitness</title>
  <link rel="stylesheet" href="css/styles.css">
   <script >
     $(document).ready(function() 
     {
    $("#myCarousel").on("slide.bs.carousel", function(e)
     {
            var $e = $(e.relatedTarget);
            var idx = $e.index();
            var itemsPerSlide = 4;
            var totalItems = $(".carousel-item").length;
        
            if (idx >= totalItems - (itemsPerSlide - 1))
             {
                      var it = itemsPerSlide - (totalItems - idx);
                      for (var i = 0; i < it; i++)
                       {
                                  // append slides to end
                                  if (e.direction == "left") 
                                  {
                                                $(".carousel-item")
                                                            .eq(i)
                                                            .appendTo(".carousel-inner");
                                  } else 
                                  {
                                                $(".carousel-item")
                                                            .eq(0)
                                                            .appendTo($(this).find(".carousel-inner"));
                                  }
                      }
            }
    })
  })
   </script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<script src="https://kit.fontawesome.com/b99e675b6e.js"></script>
	<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

	<script>
		$(document).ready(function(){
			$(".hamburger .hamburger__inner").click(function(){
			  $(".wrapper").toggleClass("active")
			})
		})
	</script>
  
</head>
<body>
<div class="wrapper">
  
  <div class="top_navbar">
    <div class="hamburger">
       <div class="hamburger__inner">
         <div class="one"></div>
         <div class="two"></div>
         <div class="three"></div>
       </div>
    </div>
    <div class="menu">
      <div class="logo">
        <a class="navbar-brand" href="#"><img src="images/Logo1.png" height="150px" ></a>
      </div>
      <div class="right_menu">
        <ul >					
          <li>
            <a title="Login" href="/login"><span class="fa fa-sign-in-alt"></span> Member Login</a>
          </li>
        <li><a title="Register Now" href="/register"><span class="fa fa-user"></span> Register</a></li>
        <li> 
          <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
        </li>                               
    </ul>
      </div>
    </div>
  </div>
    
  <div class="main_container">
      <div class="sidebar">
          <div class="sidebar__inner">
            <ul>
              <li>
                <a href="/" >
                  <span class="icon"><i class="fas fa-home"></i></span>
                  <span class="title">HOME</span>
                </a>
              </li>
              <li>
                <a href="#">
                  <span class="icon"><i class="fas fa-dumbbell"></i></span>
                  <span class="title">Workout</span>
                </a>
                <div class="submenu">
                  <ul>
                    <li>
                      <a href="/muscle"><i class="fas fa-dumbbell">&nbsp;Muscle</i></a>
                    </li>
                    <li>
                      <a href="/cardio"><i class="fas fa-running">&nbsp;Cardio</i></a>
                    </li>
                    <li>
                      <a href="workoutArticle"><i class="fas fa-book">&nbsp;Article</i></a>
                    </li>
                  </ul>
                </div>
              </li>
              <li>
                <a href="#">
                  <span class="icon"><i class="fas fa-utensils"></i></span>
                  <span class="title">Nutrion</span>
                </a>
                <div class="submenu">
                  <ul>
                    <li>
                      <a href="/menu"><i class="fas fa-list">&nbsp;Menu</i></a>
                    </li>
                    <li>
                      <a href="/nutrionArticle"><i class="fas fa-book">&nbsp;Article</i></a>
                    </li>
                  </ul>
                </div>
              </li>
              <li>
                <a href="/scheduler">
                  <span class="icon"><i class="fas fa-clock"></i></span>
                  <span class="title">Scheduler</span>
                </a>
              </li>
              <li>
                <a href="#">
                  <span class="icon"><i class="fas fa-shopping-cart"></i></span>
                  <span class="title">Shop</span>
                </a>
                <div class="submenu">
                  <ul>
                    <li>
                      <a href="/shopCourses"><i class="fab fa-leanpub">&nbsp;Coures</i></a>
                    </li>
                    <li>
                      <a href="/shopequipments"><i class="fas fa-tools">&nbsp;Supplement</i></a>
                    </li>
                  </ul>
                </div>
              </li>

              <li>
                <a href="#">
                  <span class="icon"><i class="fa fa-ellipsis-h" aria-hidden="true"></i></span>
                  <span class="title">More</span>
                </a>
                <div class="submenu">
                  <ul>
                    <li>
                      <a href="/adv"><i class="fas fa-ad">&nbsp;Advertisement</i></a>
                    </li>
                    <li>
                      <a href="/postAdv"><i class="fas fa-pen-nib">&nbsp;Post Ads</i></a>
                    </li>
                    <li>
                      <a href="/postArticle"><i class="fas fa-upload">&nbsp;Post Article</i></a>
                    </li>
                  </ul>
                </div>
              </li>

            </ul>
          </div>
      </div>
      <div class="container">
      {{{body}}}  
      </div>
    </div>	
</body>
</html>