<div class="container1">
  <h2>List Product</h2>
  <div class="row">
    <div class="col-md-3">
      <div class="product-top">
        <img src="/images/Bg.jpeg" width="90%">
        <div class="overlay">
          <button type="button" class="bnt bnt-secondary" title="quickshop"><i class="fa fa-eye"></i></button>
            <button type="button" class="bnt bnt-secondary" title="quickshop"><i class="far fa-heart"></i></button>
              <button type="button" class="bnt bnt-secondary" title="quickshop"><i class="fas fa-shopping-cart"></i></button>
        </div>
      </div>
      <div class="product-bottom">
        <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i>
        <h3>Name</h3>
        <h5> $40</h5>
      </div>
    </div>
    <div class="col-md-3">
      <div class="product-top">
        <img src="/images/Bg.jpeg"  width="90%" >
        <div class="overlay">
          <button type="button" class="bnt bnt-secondary" title="quickshop"><i class="fa fa-eye"></i></button>
            <button type="button" class="bnt bnt-secondary" title="quickshop"><i class="far fa-heart"></i></button>
              <button type="button" class="bnt bnt-secondary" title="quickshop"><i class="fas fa-shopping-cart"></i></button>
        </div>
      </div>
      <div class="product-bottom">
        <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i>
        <h3>Name</h3>
        <h5> $40</h5>
      </div>
    </div>
    <div class="col-md-3">
      <div class="product-top">
        <img src="/images/Bg.jpeg" width="90%">
        <div class="overlay">
          <button type="button" class="bnt bnt-secondary" title="quickshop"><i class="fa fa-eye"></i></button>
            <button type="button" class="bnt bnt-secondary" title="quickshop"><i class="far fa-heart"></i></button>
              <button type="button" class="bnt bnt-secondary" title="quickshop"><i class="fas fa-shopping-cart"></i></button>
        </div>
      </div>
      <div class="product-bottom">
        <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i>
        <h3>Name</h3>
        <h5> $40</h5>
      </div>
    </div>
    <div class="col-md-3">
      <div class="product-top">
        <img src="/images/Bg.jpeg"  width="90%" >
        <div class="overlay">
          <button type="button" class="bnt bnt-secondary" title="quickshop"><i class="fa fa-eye"></i></button>
            <button type="button" class="bnt bnt-secondary" title="quickshop"><i class="far fa-heart"></i></button>
              <button type="button" class="bnt bnt-secondary" title="quickshop"><i class="fas fa-shopping-cart"></i></button>
        </div>
      </div>
      <div class="product-bottom">
        <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i>
        <h3>Name</h3>
        <h5> $40</h5>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">
      <div class="product-top">
        <img src="/images/Bg.jpeg" width="90%">
        <div class="overlay">
          <button type="button" class="bnt bnt-secondary" title="quickshop"><i class="fa fa-eye"></i></button>
            <button type="button" class="bnt bnt-secondary" title="quickshop"><i class="far fa-heart"></i></button>
              <button type="button" class="bnt bnt-secondary" title="quickshop"><i class="fas fa-shopping-cart"></i></button>
        </div>
      </div>
      <div class="product-bottom">
        <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i>
        <h3>Name</h3>
        <h5> $400</h5>
      </div>
    </div>
    <div class="col-md-3">
      <div class="product-top">
        <img src="/images/Bg.jpeg" width="90%">
        <div class="overlay">
          <button type="button" class="bnt bnt-secondary" title="quickshop"><i class="fa fa-eye"></i></button>
            <button type="button" class="bnt bnt-secondary" title="quickshop"><i class="far fa-heart"></i></button>
              <button type="button" class="bnt bnt-secondary" title="quickshop"><i class="fas fa-shopping-cart"></i></button>
        </div>
      </div>
      <div class="product-bottom">
        <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i>
        <h3>Name</h3>
        <h5> $4000</h5>
      </div>
    </div>
    <div class="col-md-3">
      <div class="product-top">
        <img src="/images/Bg.jpeg"  width="90%" >
        <div class="overlay">
          <button type="button" class="bnt bnt-secondary" title="quickshop"><i class="fa fa-eye"></i></button>
            <button type="button" class="bnt bnt-secondary" title="quickshop"><i class="far fa-heart"></i></button>
              <button type="button" class="bnt bnt-secondary" title="quickshop"><i class="fas fa-shopping-cart"></i></button>
        </div>
      </div>
      <div class="product-bottom">
        <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i>
        <h3>Name</h3>
        <h5> $40</h5>
      </div>
    </div>
    <div class="col-md-3">
      <div class="product-top">
        <img src="/images/Bg.jpeg"  width="90%" >
        <div class="overlay">
          <button type="button" class="bnt bnt-secondary" title="quickshop"><i class="fa fa-eye"></i></button>
            <button type="button" class="bnt bnt-secondary" title="quickshop"><i class="far fa-heart"></i></button>
              <button type="button" class="bnt bnt-secondary" title="quickshop"><i class="fas fa-shopping-cart"></i></button>
        </div>
      </div>
      <div class="product-bottom">
        <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i>
        <h3>Name</h3>
        <h5> $400</h5>
      </div>
    </div>
    </div>
    
</div>