<div class="container3">
   	<h1 class="text-center mt-4 mb-5">
   		Scheduler
   	</h1>
    <div>
        <div class="nav">
        <select class="form-select" aria-label="Default select example" onchange="document.getElementById('preview').src = this.value">
            <option selected>Choose a training schedule</option>
            <option value="images/3 times.jpg">3 times/week</option>
            <option value="images/4 times.jpg">4 times/week</option>
            <option value="images/5 times.jpg">5 times/week</option>
            <option value="images/6 times.jpg">6 times/week</option>
        </select> 
        </div>
        <div class="content"><img id="preview"></div>
    </div>
        
</div>