<div class="box">
       <h1>Login</h1>
       <form>
           <div class="inputBox">
               <label> <i class="fa fa-user" aria-hidden="true"></i> </label>
               <input class="fill" type="text" placeholder="Username" name="" required="">
           </div>
           <div class="inputBox">
               <label><i class="fa fa-lock" aria-hidden="true"></i></label>
               <input class="fill" type="password" placeholder="Password" name="" required="">
           </div>
           <div>
               <input class="lg" type="submit"  name="" value="Sign in">
           </div>
       </form>
   </div>
</body>