
<div class="container5">
    
   	<h1 class="text-center mt-4 mb-5">
   		Cardio
   	</h1>
    <div>
        <div class="nav">
        <select class="form-select" aria-label="Default select example"  onchange="document.getElementById('preview').src = this.value">
            <option selected >Choose a training schedule</option>
            <option value="https://www.youtube.com/embed/RpC0KY9Ys90" >LISS cardio</option>
            <option value="https://www.youtube.com/embed/dgDWx__tkhM">MISS cardio</option>
            <option value="https://www.youtube.com/embed/2MZSjB1WLFg">HIIT cardio</option>
        </select>
        </div>
        <div class="content">
            <iframe width="727" height="440" frameborder="8" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen id="preview">
            </iframe>
        </div>
    </div>
</div>