<div class="container1">
  {{#with articles}}
<div class="card">
  <h4 class="card-header">
  <i class="fas fa-question-circle"></i> {{Ar_caption}}
  </h4>
  <div class="card-body">
    <p class="card-text mt-3">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{Ar_content}} <span class="text-danger font-weight-bold"></span></p>
    <p class="card-text">
    </p>
    
  </div>
  <div class="card-footer text-muted">
  </div>
</div>
{{/with}}
</div>