<div class="container4">
   	<h1 class="text-center mt-4 mb-5">
   		Muscle
   	</h1>
    <div class="can-chinh">
        <div class="ben-phai">
            <div>
                <a href="#head-bd">
                    <img src="images/Head.png" alt="" class="head-bd">
                </a>
            </div>
            <div>
                <a href="http://localhost:3000/muscle">
                    <img src="images/Shoulder 2.png" alt="" class="shoulder2-bd">
                </a>
                <a href="http://localhost:3000/chest">
                    <img src="images/Chest.png" alt="" class="chest-bd">
                </a>
                <a href="http://localhost:3000/muscle">
                    <img src="images/Shoulder 1.png" alt="" class="shoulder1-bd">
                </a>
            </div>
            <div>
                <a href="http://localhost:3000/arms">
                    <img src="images/Arm 2.png" alt="" class="arm2-bd">
                </a>
                <a href="http://localhost:3000/abs">
                    <img src="images/Abs.png" alt="" class="abs-bd">
                </a>
                <a href="http://localhost:3000/arms">
                    <img src="images/Arm 1.png" alt="" class="arm1-bd">
                </a>
            </div>
            <div>
                <a href="http://localhost:3000/legs">
                    <img src="images/Legs.png" alt="" class="legs-bd">
                </a>
            </div>
        </div>

        <div class="ben-trai">
            <a name="arms-bd">
            <iframe width="645" height="365" src="https://www.youtube.com/embed/taqtUHDS9XA" frameborder="8" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
            </iframe>
            </a>
        </div>
    </div>
</div>