<div class="container4">
   	<h1 class="text-center mt-4 mb-5">
   		Muscle
   	</h1>
    <div class="ben-phai">
        <div>
            <img src="images/Head.png" alt="" class="head-bd">   
        </div>
        <div>
            <img src="images/Shoulder 2.png" alt="" class="shoulder2-bd">
            <img src="images/Chest.png" alt="" class="chest-bd">
            <img src="images/Shoulder 1.png" alt="" class="shoulder1-bd">
        </div>
        <div>
            <img src="images/Arm 2.png" alt="" class="arm2-bd">
            <img src="images/Abs.png" alt="" class="abs-bd">
            <img src="images/Arm 1.png" alt="" class="arm1-bd">
        </div>
        <div>
            <img src="images/Legs.png" alt="" class="legs-bd">
        </div>
    </div>
    </div>
</div>