<div class="container3">
   	<h1 class="text-center mt-4 mb-5">
   		Menu diet
   	</h1>
    <div>
        <div class="nav">
        <select class="form-select" aria-label="Default select example" onchange="document.getElementById('preview').src = this.value">
            <option selected>Choose your menu diet</option>
            <option value="images/2000 calo.jpg">2000 calories</option>
            <option value="images/2300 calo.jpg">2300 calories</option>
            <option value="images/2500 calo.jpg">2500 calories</option>
        </select> 
        </div>
        <div class="content1"><img id="preview"></div>
    </div>
        
</div>